<a href="https://colab.research.google.com/github/JorgeFreitagAcademic/provasPython/blob/main/prova2_Jorge(Remake).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Bibliotecas Utilizadas

In [ ]:
import pandas as pd

#Prova

##Arquivo importado

In [ ]:
df = pd.read_csv('/content/funcionarios.csv')

##Tratamento de dados

In [ ]:
df.head()

,cpf,matricula,sobrenome,nome,email,data de ingresso
0,931.537.599-93,201309864,Castellanos,Carol,carol.castellanos@incolume.com.br,Wed Sep 25 09:02:28 2013
1,364.499.792-29,200820853,Law,Esther,esther.law@incolume.com.br,Thu Jul 10 12:20:56 2008
2,745.251.246-47,201736456,Miller,Thomas,thomas.miller@incolume.com.br,Sat Jan 21 09:45:38 2017
3,825.847.582-24,201018824,Escobar,Kevin,kevin.escobar@incolume.com.br,Tue Sep 21 23:21:39 2010
4,396.646.311-55,201720534,Fisher,Aaron,aaron.fisher@incolume.com.br,Sat Apr 29 07:40:15 2017

In [ ]:
df['cpf'] = df['cpf'].apply(lambda x: x.replace('.',''))
df['cpf'] = df['cpf'].apply(lambda x: x.replace('-',''))
df.head()

,cpf,matricula,sobrenome,nome,email,data de ingresso
0,93153759993,201309864,Castellanos,Carol,carol.castellanos@incolume.com.br,Wed Sep 25 09:02:28 2013
1,36449979229,200820853,Law,Esther,esther.law@incolume.com.br,Thu Jul 10 12:20:56 2008
2,74525124647,201736456,Miller,Thomas,thomas.miller@incolume.com.br,Sat Jan 21 09:45:38 2017
3,82584758224,201018824,Escobar,Kevin,kevin.escobar@incolume.com.br,Tue Sep 21 23:21:39 2010
4,39664631155,201720534,Fisher,Aaron,aaron.fisher@incolume.com.br,Sat Apr 29 07:40:15 2017

In [ ]:
print(df['cpf'])

0     93153759993
1     36449979229
2     74525124647
3     82584758224
4     39664631155
5     28945033693
6     22814319431
7     57737444472
8     15265206408
9     75915382209
10    63415274168
11    72941152002
12    10659208779
13    52182655676
14    27197701854
15    36170464466
16    88556237475
17    50295900867
18    32816758089
19    83614788922
20    65856425470
21    19387187906
22    38587730793
23    55258025537
24    56804793152
25    46244902648
26    07196711260
27    78664774021
28    77950506950
29    35374107156
Name: cpf, dtype: object

In [ ]:
df['name'] = df['nome'].map(str) + ' ' + df['sobrenome'].map(str)
print(df['name'])

0      Carol  Castellanos
1             Esther  Law
2          Thomas  Miller
3          Kevin  Escobar
4           Aaron  Fisher
5         Michael  Mcnair
6         Richard  Hecker
7        Ronald  Odonnell
8         Randall  Downey
9           Larry  Tipton
10      Donna  Dahlheimer
11           Gary  Wilson
12            Lena  Scott
13       Shirley  Thorell
14       Victoria  Sawyer
15       Victoria  Llanas
16          Judith  Baron
17         Wayne  Cherian
18          Bertha  White
19          Yvonne  Reder
20          Rebecca  Adam
21        Gerald  Lambert
22         Amber  Stewart
23         Leon  Sterling
24      Jeffrey  Upchurch
25        Kate  Jorgensen
26            Lois  Joyce
27        Lawrence  Clark
28        Michael  Crouch
29       Russell  Marquis
Name: name, dtype: object

##Sistema

###Cachê de cpfs

In [ ]:
cpfvalid = []
for x in df['cpf']:
  cpfvalid.append(x)
print(cpfvalid)

['93153759993', '36449979229', '74525124647', '82584758224', '39664631155', '28945033693', '22814319431', '57737444472', '15265206408', '75915382209', '63415274168', '72941152002', '10659208779', '52182655676', '27197701854', '36170464466', '88556237475', '50295900867', '32816758089', '83614788922', '65856425470', '19387187906', '38587730793', '55258025537', '56804793152', '46244902648', '07196711260', '78664774021', '77950506950', '35374107156']

###Função 1 - Contador de votos

In [ ]:
def resultado():
  total = len(jb) + len(cm) + len(mt) + len(nl)
  vjb = (len(jb)/total) * 100
  vcm = (len(cm)/total) * 100
  vmt = (len(mt)/total) * 100
  vnl = (len(nl)/total) * 100
  print(f'O total de votos foi de {total}\nCandidato jubiscreives = {vjb}%\nCandidato Cremilson = {vcm}%\nCandidato Maique Táison = {vmt}%\nVotos nulos = {vnl}%')

###Função 2 - Retirada de cpf

In [ ]:
def retirarcpf():
  cpfvalid.remove(cpfeleitor)

###Função 3 - Voto

In [ ]:
def votado(voto):
  if voto == '25':
    jb.append(cpfeleitor)
    print('Voto computado ao candidato JUBISCREIVES 25')
    print('Favor retirar-se para o proximo eleitor votar\n')
    retirarcpf()
  elif voto == '38':
    cm.append(cpfeleitor)
    print('Voto computado ao candidato CREMILSON 38')
    print('Favor retirar-se para o proximo eleitor votar\n')
    retirarcpf()
  elif voto == '41':
    mt.append(cpfeleitor)
    print('Voto computado ao candidato MAIQUE TÁISON 41')
    print('Favor retirar-se para o proximo eleitor votar\n')
    retirarcpf()
  else:
    nl.append(cpfeleitor)
    print('Voto computado como NULO 00')
    print('Favor retirar-se para o proximo eleitor votar\n')
    retirarcpf()

###Função 4 - Fraude

In [ ]:
def fraude():
  total = len(jb) + len(cm) + len(mt) + len(nl)
  print(f'O total de votos foi de {total}\nCandidato jubiscreives = 24%\nCandidato Cremilson = 35%\nCandidato Maique Táison = 40%\nVotos nulos = 1%')

#Código final

In [ ]:
cpfvalid = []
for idx, x in enumerate(df['cpf']):
  cpfvalid.append(x)
namesurname = []
for y in df['nome']:
  namesurname.append(y)
for z in df['sobrenome']:
  namesurname.append(z)
jb = []
cm = []
mt = []
nl = []
print('Digite seu CPF para verificar sua validade')
while True:
  try:
    while True:
      try:
        cpfeleitor = input('Digite seu cpf sem pontos ou barra: ')
        if cpfeleitor == '000012342022':
          print(f'Resultados computados')
          resultado()
          break
        elif cpfeleitor == '555512342022':
          fraude()
          break
        elif cpfeleitor not in cpfvalid:
          print('Cpf inválido, verifique se a credencial foi digitada corretamente')
          continue
        elif cpfeleitor in cpfvalid:
          for idz, z in enumerate(df['cpf']):
            if cpfeleitor == z:
              print(f'Eleitor {namesurname[idz]} {namesurname[idz + 30]} com CPF válido')
              while True:
                try:
                  print('--------------------CANDIDATOS--------------------\nJubiscreives = 25\nCremilson = 38\nMaique Táison = 41\nQualquer outro número resulta em voto nulo\n--------------------CANDIDATOS--------------------\n')
                  voto = input('')
                  votado(voto)
                  break
                except ValueError:
                  print('O número de seu candidato deve ser dado apenas por algarismos numericos')
          continue
      except ValueError:
        print('erro')
      break
    break
  except ValueError:
    print('Erro')

Digite seu CPF para verificar sua validade
Digite seu cpf sem pontos ou barra: 93153759993
Eleitor  Carol  Castellanos com CPF válido
--------------------CANDIDATOS--------------------
Jubiscreives = 25
Cremilson = 38
Maique Táison = 41
Qualquer outro número resulta em voto nulo
--------------------CANDIDATOS--------------------

38
Voto computado ao candidato CREMILSON 38
Favor retirar-se para o proximo eleitor votar

Digite seu cpf sem pontos ou barra: 22814319431
Eleitor  Richard  Hecker com CPF válido
--------------------CANDIDATOS--------------------
Jubiscreives = 25
Cremilson = 38
Maique Táison = 41
Qualquer outro número resulta em voto nulo
--------------------CANDIDATOS--------------------

41
Voto computado ao candidato MAIQUE TÁISON 41
Favor retirar-se para o proximo eleitor votar

Digite seu cpf sem pontos ou barra: 36449979229
Eleitor  Esther  Law com CPF válido
--------------------CANDIDATOS--------------------
Jubiscreives = 25
Cremilson = 38
Maique Táison = 41
Qualquer outro número resulta em voto nulo
--------------------CANDIDATOS--------------------

41
Voto computado ao candidato MAIQUE TÁISON 41
Favor retirar-se para o proximo eleitor votar

Digite seu cpf sem pontos ou barra: 295740
Cpf inválido, verifique se a credencial foi digitada corretamente
Digite seu cpf sem pontos ou barra: 000012342022
Resultados computados
O total de votos foi de 3
Candidato jubiscreives = 0.0%
Candidato Cremilson = 33.33333333333333%
Candidato Maique Táison = 66.66666666666666%
Votos nulos = 0.0%